
.qwe{
    width: 1024px;
    position: absolute;
    margin-left: 130px; 
    margin-right: auto;
    margin-top: 10px;
    background-color:white;
    box-shadow: blue;
    font-family: Ubuntu;
}
.jumbotron{
    background: #c7b39b url(../img/bgr1.jpg);
    /*background: #c7b39b url(../img/123.jpg); /* Цвет фона и путь к файлу */
    color:black; /* Цвет текста */
    font-family: Ubuntu;
}
.header{
    font-size: 14px;
}
.img_shool{
   height: 200px;
   width: 310px;
}
.video_1{
   display: flex;
   flex-direction: row;
  justify-content: center;
}
.adress{
    font-size: 14px; 
    margin-top: 20px;
    line-height: 21px;
}
#datepicker{
    margin-top: 20px;
    margin-bottom: 50px;
    
}
#carouselExampleControls{
    margin-bottom: 20px;
    margin-top: 10px;
}
.navbar-brand,
.nav-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px; 
    color: whitesmoke;
    line-height: 18px;
    font-family: Ubuntu;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .footer{
    height: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 11px; 
    font-family: Ubuntu;
    background-color: rgb(199, 220, 241);
    padding-top: 15px;
  }
  p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 18px;
    font-size: 18px; 
  }
.video11{
    margin-top: 20px;
    margin-bottom: 20px;
}
.texth{
    
    line-height: 24px;
    font-size: 24px; 
}
.navbar-brand, .nav-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
    color: white;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 15px;
}
a {
    color: green;
    text-decoration: none;
    background-color: transparent;
}